<form id="formBeneficiarios" method="post">
    <div class="row">
        <div class="form-group col-md-5">
            <label for="CPF">CPF:</label>
            <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 010.011.111-00" onkeyup="formataCPF(this,event);" maxlength="14">
        </div>
        <div class="form-group col-md-5">
            <label for="Nome">Nome:</label>
            <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João da Silva" maxlength="50">
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-success">Incluir</button>
        </div>
    </div>
</form>